<div class="card mb-3 d-flex flex-column text-center">
  <img src=" {{image}} " alt="movie cover" class="partial-image m-2" />
  <p class="p-2"> {{title}} </p>
  <a href="/movies/{{_id}}" class="pb-2">See more</a>
</div>